---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---


{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}

<div style="width: 100%; overflow: hidden;">
  <iframe src="../talkmap/map.html" height="500px" width="100%" frameborder="0" scrolling="no"></iframe>
</div>


{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">¡Echa un vistazo a todos los lugares donde he dado una charla!</a></p>

{% endif %}
